/* Colours & Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$color-blueish-ming: #3E6987;
//$color-mercury: #E5E5E5;
$color-silver: #CCCCCC;
$color-wild-sand: #F4F4F4;

$color-1-high: #C3D6E3;

$text-color: #222;
$link-color: $color-blueish-ming;
$link-hover-color: lighten($color-blueish-ming, 20%);

$button-primary-color: $color-blueish-ming;

$border-color: #E5E5E5;
$code-background-color: $color-wild-sand;
$code-border-color: #E5E5E5;

$site-header-background-color: $color-blueish-ming;
$site-header-font-color: $color-wild-sand;
$site-header-text-shadow: none;

$nav-background-color: transparent;
$menu-item-color: $color-wild-sand;
$menu-item-active-fg-color: darken($color-blueish-ming, 14%);
$menu-item-active-bg-color: mix($color-blueish-ming, $color-wild-sand, 65%);
$menu-item-hover-fg-color: darken($color-blueish-ming, 10%);
$menu-item-hover-bg-color: mix($color-blueish-ming, $color-wild-sand, 30%);
$menu-item-text-shadow: none;

$background-image: url("../img/type_inverted.png");
$main-background-color: #FFF;
$main-border-color: $color-silver;
$main-box-shadow: 1px 0px 8px $main-border-color;

$footer-color: $color-wild-sand;
