/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$sans-stack: "Lato", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-stack: "Droid Serif", Cambria, "Times New Roman", Times, serif;
$alt-sans-stack: "Fira Sans", "Lato", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size: 1.6em;

$default-font: $sans-stack;
$default-font-weight: 400;

$heading-font: $alt-sans-stack;
$heading-font-weight: 700;

$site-header-font: "Montserrat Subrayada", "Open Sans", sans-serif;
$site-header-font-weight: 400;

$menu-item-font: $sans-stack;
$menu-item-font-weight: 400;

$button-font: $sans-stack;
$button-font-weight: 700; /* was 600 */

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  background: $background-image repeat fixed;
  font-size: $base-font-size; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: $default-font-weight;
  font-family: $default-font;
  color: $text-color; }

::selection {
  background: $site-header-background-color;
  color: $site-header-font-color;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: $heading-font-weight;
  font-family: $heading-font; }
h1 { font-size: 3.4rem; line-height: 1.2;  letter-spacing: 0;}
h2 { font-size: 2.7rem; line-height: 1.25; letter-spacing: 0; }
h3 { font-size: 2.3rem; line-height: 1.3;  letter-spacing: 0; }
h4 { font-size: 2.0rem; line-height: 1.35; letter-spacing: 0; text-transform: uppercase; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: 0; font-family: $default-font; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing: 0;
     margin-bottom: 1.5rem; font-family: $default-font; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.6rem; }
  h2 { font-size: 2.9rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 2.1rem; }
  h5 { font-size: 1.9rem; }
  h6 { font-size: 1.6rem; }
}

p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $link-color; }
a:hover {
  color: $link-hover-color; }
