/* Simple utility classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.centering {
  text-align: center;
}

.float-right {
  float: right;
}

.float-image {
  padding: 25px 10px 15px 30px;
}

.obfuscate {
  display: none;
  visibility: hidden;
}
