/* General mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin clip-from-right($px) {
  clip-path: inset(0px $px 0px 0px);
  -webkit-clip-path: inset(0px $px 0px 0px);
  /* clip: rect(0px, $width - $px, 10000px, 0px); */
}

@mixin padding-horizontal($measurement) {
  padding-left: $measurement;
  padding-right: $measurement;
}

@mixin padding-vertical($measurement) {
  padding-top: $measurement;
  padding-bottom: $measurement;
}
