/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc outside; }
ol {
  list-style: decimal outside; }
ol, ul {
  padding-left: 0;
  margin-top: 0;
  margin-left: 2.5rem;

  ol, ul {
    margin: 1.2rem 0 1.2rem 4.5rem;
    font-size: 90%; }
  ul {
    list-style: circle outside; }
  ol {
    list-style: lower-alpha outside; }
}
li {
  margin-bottom: 0.5rem;
}

dl.tabular {
  dt {
    font-weight: 700;

    @media (min-width: 550px) {
      float: left;
      width: 20%;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  dd {
    padding-bottom: 1rem;

    @media (min-width: 550px) {
      margin-left: 22%;
    }
  }
}

.content-publications {
  h4 {
    float: left;
  }

  ol, ul {
    margin-left: 9rem;
  }
}
