{{ define "main" }}
<div>
  {{ .Content }}

  <a class="btn btn-primary float-right" href="{{ "/cv.pdf" | relURL }}"><i class="fas fa-download mr-2"></i>Detailed CV (PDF)</a>
</div>

<!-- The ml-n... class needs to offset whatever is on the main-container in baseof.html -->
<div class="cv-border cv-border-1 ml-n4 pl-3">
  <h3><i class="fas fa-fw fa-university mr-2"></i>Research</h3>

  <dl class="cv-entries">
    <dt>from 01/2023</dt>
    <dd>Associate professor (<i>universitetslektor</i>) at the <a href="https://www.ida.liu.se/">Department of Computer and Information Science (IDA)</a>, Linköping University
      <ul>
        <li>Member of the <a href="https://www.ida.liu.se/divisions/aiics/nlp/">Natural Language Processing Group</a></li>
        <li>Researcher in <a href="https://trustllm.eu/">TrustLLM: Democratize Trustworthy and Efficient Large Language Model Technology for Europe</a></li>
      </ul>
    </dd>

    <dt>2021—2023</dt>
    <dd>Assistant professor at the <a href="https://ju.se/en/about-us/school-of-engineering.html">School of Engineering</a>, Jönköping University
      <ul>
        <li>Member of the <a href="https://ju.se/en/about-us/school-of-engineering/organisation/departments/computing/jonkoping-ai-lab---jail.html">Jönköping AI Lab (JAIL)</a></li>
      </ul>
    </dd>

    <dt>2019—2021</dt>
    <dd>Marie Skłodowska-Curie Fellow at the <a href="https://di.ku.dk/english/">Department of Computer Science</a>, University of Copenhagen
      <ul>
        <li>Member of the <a href="http://coastalcph.github.io/">CoAStaL NLP Group</a></li>
        <li>Project: Morphologically-Informed Representations for Natural Language Processing (MorphIRe)</li>
      </ul>
    </dd>

    <dt>2018</dt>
    <dd>Postdoctoral researcher at the <a href="https://di.ku.dk/english/">Department of Computer Science</a>, University of Copenhagen
      <ul>
        <li>Member of the <a href="http://coastalcph.github.io/">CoAStaL NLP Group</a></li>
        <li>Supervisor: <a href="https://anderssoegaard.github.io/">Anders Søgaard</a></li>
      </ul>
    </dd>

    <dt>2011—2017</dt>
    <dd>Research assistant at the <a href="https://www.linguistics.rub.de/">Linguistics Department</a>, Ruhr-Universität Bochum<br />
      <ul>
        <li>Supervisor: <a href="https://www.linguistics.rub.de/~dipper/">Stefanie Dipper</a></li>
        <li>Funded through the research projects <a href="https://www.linguistics.rub.de/comphist/projects/anselm/">St. Anselmi Fragen an Maria</a>, <a href="https://www.linguistics.rub.de/comphist/projects/ref/">Reference Corpus Early New High German (ReF)</a>, and <a href="https://www.linguistics.rub.de/comphist/projects/rem/">Reference Corpus Middle High German (ReM)</a></li>
      </ul>
    </dd>
  </dl>
</div>

<div class="cv-border cv-border-2 ml-n4 pl-3">
  <h3><i class="fas fa-fw fa-chalkboard-teacher mr-2"></i>Teaching</h3>

  <dl class="cv-entries">
    <dt>from 2023</dt>
    <dd>Course coordinator for “Text Mining”, “Language Technology”, and “Language & Computers” at Linköping University</dd>
    <dt>2022</dt>
    <dd>Course developer for “Natural Language Processing and Text Mining” and “Data Science Programming”, Jönköping University</dd>
    <dt>2021–2022</dt>
    <dd>Course coordinator for “State of the Art in AI Research”, Jönköping University</dd>
    <dt>2013–2015</dt>
    <dd>Seminars on “Aspects of natural language generation” and ”Non-standard language data”, Ruhr-Universität Bochum</dd>
  </dl>
</div>

<div class="cv-border cv-border-3 ml-n4 pl-3">
  <h3><i class="fas fa-fw fa-award mr-2"></i>Awards & Grants</h3>

  <dl class="cv-entries">
    <dt>2021</dt>
    <dd><strong>Best Paper Award</strong> at EACL for <a href="https://www.aclweb.org/anthology/2021.eacl-main.162/">&ldquo;Error Analysis and the Role of Morphology&rdquo;</a></dd>
    <dt>2019</dt>
    <dd><strong>Marie Skłodowska-Curie Individual Fellowship (MSCA-IF)</strong>, Grant No. 845995</dd>
    <dt>2013</dt>
    <dd><strong>Best Student Thesis Award</strong>, <a href="https://gscl.org/en/Awards">German Society for Computational Linguistics &amp; Language Technology (GSCL)</a></dd>
  </dl>
</div>

<div class="cv-border cv-border-4 ml-n4 pl-3">
  <h3><i class="fas fa-fw fa-user-graduate mr-2"></i>Education</h3>

  <dl class="cv-entries">
    <dt>2013—2018</dt>
    <dd>PhD (Dr. phil.) in Computational Linguistics, Ruhr-Universität Bochum (Supervisor: <a href="https://www.linguistics.rub.de/~dipper/">Stefanie Dipper</a>)
      <ul>
        <li>Thesis: <a href="http://www.linguistics.rub.de/forschung/arbeitsberichte/22.pdf">Normalization of Historical Texts with Neural Network Models</a></li>
      </ul>
    </dd>

    <dt>2009—2012</dt>
    <dd>Master of Arts (M.A.) in Linguistics (with focus on Computational Linguistics), Ruhr-Universität Bochum

      <ul>
        <li>Thesis: <a href="http://www.linguistics.rub.de/forschung/arbeitsberichte/13.pdf">Automatic Normalization for Linguistic Annotation of Historical Language Data</a></li>
        <!-- class="alert alert-primary px-2 py-1"
        <li>For my master′s thesis, I received the <strong><a href="https://gscl.org/en/Awards">GSCL Award for Best Student Thesis</a></strong> within the field of computational linguistics and language technologies.</li> -->
      </ul>
    </dd>

    <dt>2004—2009</dt>
    <dd>Bachelor of Arts (B.A.) in Mathematics and Linguistics (with focus on Computational Linguistics), Ruhr-Universität Bochum</dd>
  </dl>
</div>

{{ end }}
