<footer class="container shadow border-top bg-light py-2 py-xl-3">
  <span class="float-right mr-2" style="font-size: 180%;">
    <a href="https://www.semanticscholar.org/author/Marcel-Bollmann/34887843"><i class="ai ai-semantic-scholar-square mr-1"></i></a>
    <a href="https://scholar.google.com/citations?user=l3pm9QkAAAAJ"><i class="ai ai-google-scholar-square mr-1"></i></a>
    <!-- <a href="https://twitter.com/mmbollmann"><i class="fab fa-twitter-square mr-1"></i></a> -->
    <!-- <a rel="me" href="https://sigmoid.social/@mbollmann"><i class="fab fa-mastodon mr-1"></i></a> -->
    <a href="https://github.com/mbollmann/"><i class="fab fa-github-square mr-1"></i></a>
    <a href="https://orcid.org/0000-0003-2598-8150"><i class="ai ai-orcid-square mr-1"></i></a>
    <a href="https://bsky.app/profile/bollmann.me"><i class="fab fa-bluesky mr-1"></i></a>
  </span>
  <p class="text-muted small px-1 mb-0">
    &copy; {{ now.Format "2006"}} Marcel Bollmann &mdash; <i class="fas fa-envelope mr-1"></i>marce<span class="d-none">wallabies-are-awesome</span>l.b<span class="d-none">.@...___@.</span>ollmann@liu.se &mdash; <a style="font-size: 90%;" href="liu-pgp-key.asc"><i class="fas fa-key mr-1"></i>PGP KEY</a><br />
    <a href="{{ relref . "/impressum.md" }}" class="d-inline-block mt-1">Impressum · Legal disclosure</a>
  </p>
</footer>
