<footer class="container shadow border-top bg-light py-2 py-xl-3">
  <span class="float-right mr-2" style="font-size: 180%;">
    <a href="https://twitter.com/mmbollmann"><i class="fab fa-twitter-square mr-1"></i></a>
    <a href="https://scholar.google.com/citations?user=l3pm9QkAAAAJ"><i class="ai ai-google-scholar-square mr-1"></i></a>
    <a href="https://github.com/mbollmann/"><i class="fab fa-github-square mr-1"></i></a>
    <a href="https://bitbucket.org/mbollmann/"><i class="fab fa-bitbucket mr-1"></i></a>
  </span>
  <p class="text-muted small px-1 mb-0">
    &copy; 2019 Marcel Bollmann &mdash; <i class="fas fa-envelope mr-1"></i>marcel@bollm<span class="d-none">wallabies-are-awesome</span>a<span class="d-none">.@...___@.</span>nn.me<br />
    <a href="{{ relref . "/impressum.md" }}" class="d-inline-block mt-1">Impressum · Legal disclosure</a>
  </p>
</footer>
