/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  @extend .container;
  @extend main;

  background-color: $footer-color;
  border-top: 1px solid $border-color;
  padding-top: 20px;
  padding-bottom: 20px;

  .social-links {
    font-size: 3rem;

    i {
      padding-left: 5px;
    }
  }

  .legal-notice {
    font-size: 1.4rem;
  }
}
