{{ define "main" }}
<div>
  <img src="{{ "/img/mmb2.jpg" | relURL }}" alt="Marcel Bollmann" class="mx-2 mx-md-4 mt-4 mb-2 shadow profile-pic" />
  {{ .Content }}
</div>

<div class="row">
  <div class="col-md-6 col-lg-4 order-md-2">
    <div class="card h-100 border-secondary">
      <div class="card-body">
        <h5 class="card-title">News</h5>
        <h6 class="card-subtitle mb-2 text-muted">April 6, 2021</h6>
        <p class="card-text">
          I'm starting a position as assistant professor at the <a href="https://twitter.com/JonkopingAI">Jönköping AI Lab</a> in June!
        </p>

        <h6 class="card-subtitle mt-4 mb-2 text-muted">January 26, 2021</h6>
        <p class="card-text">
          Long paper accepted at EACL 2021 on &ldquo;Error Analysis and the Role of Morphology&rdquo;: <a href="https://github.com/coastalcph/eacl2021-morpherror/blob/main/paper-cameraready.pdf">read the camera-ready here</a>.
        </p>

        <!--
        <h6 class="card-subtitle mt-4 mb-2 text-muted">June 5, 2020</h6>
        <p class="card-text">
          My ACL&nbsp;2020 paper with Desmond Elliott on &ldquo;forgetting to cite older papers&rdquo; is now online:
          <a href="https://www.aclweb.org/anthology/2020.acl-main.699/">read the paper</a> or <a href="https://slideslive.com/38929066/on-forgetting-to-cite-older-papers-an-analysis-of-the-acl-anthology">watch the talk</a>!
        </p>
        -->
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-8 order-md-1">
    <div class="card h-100 border-secondary">
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <div class="row">
          <div class="col">
            <address class="card-text">
              <strong>Online</strong><br />
              <i class="far fa-fw fa-envelope mr-2"></i>marcel@bollm<span class="d-none">wallabies-are-awesome</span>a<span class="d-none">.@...___@.</span>nn.me<br />
              <i class="fas fa-fw fa-key mr-2"></i><a href="0x1438D9BFA2B47006-public.asc">PGP public key</a><br />
              <i class="ai ai-fw ai-semantic-scholar mr-2"></i><a href="https://www.semanticscholar.org/author/Marcel-Bollmann/34887843">Semantic Scholar profile</a><br />
              <i class="ai ai-fw ai-google-scholar mr-2"></i><a href="https://scholar.google.com/citations?user=l3pm9QkAAAAJ">Google Scholar profile</a><br />
              <i class="fab fa-fw fa-twitter mr-2"></i><a href="https://twitter.com/mmbollmann">Twitter (@mmbollmann)</a><br />
              <i class="fab fa-fw fa-github mr-2"></i><a href="https://github.com/mbollmann/">GitHub (@mbollmann)</a><br />
              <i class="ai ai-fw ai-orcid mr-2"></i><a href="https://orcid.org/0000-0003-2598-8150">ORCID (0000-0003-2598-8150)</a><!-- <br /> -->
            </address>
          </div>
          <div class="col">
            <address class="card-text">
              <strong>Offline</strong><br />
              <a href="http://www.diku.dk/english/">Datalogisk Institut</a><br />
              University of Copenhagen<br />
              Universitetsparken 1, Room 1-1-N135<br />
              2100 København Ø<br />
              Denmark
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
