<!DOCTYPE html>
<html lang="en">
  <!-- Background pattern based on the pattern "Type" from subtlepatterns.com,
       with colors inverted and slightly modified by Marcel Bollmann -->
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Marcel Bollmann" />
    <meta name="generator" content="webgen - http://webgen.gettalong.org" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="{relocatable: css/main.css}">
    <link rel="stylesheet" href="{relocatable: css/academicons.min.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>{title:} | Marcel Bollmann</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Fira+Sans:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400&text=Marcel%20Bollmann">
  </head>

  <body>
    <header>
      <div class="h-container u-cf">
        <h1 class="site-title"><a href="{relocatable: /index.html}">Marcel Bollmann</a></h1>

        <nav class="main">
          {menu: {options: {mi: {main_menu: true}, sort: main_sort}}}
        </nav>
      </div>
    </header>

    <main class="container">
      <webgen:block name="content" />
    </main>

    <footer>
      <span class="social-links float-right">
        <a href="https://scholar.google.com/citations?user=l3pm9QkAAAAJ"><i class="ai ai-google-scholar-square"></i></a>
        <a href="https://github.com/mbollmann/"><i class="fa fa-github"></i></a>
        <a href="https://bitbucket.org/mbollmann/"><i class="fa fa-bitbucket"></i></a>
        <a href="https://twitter.com/mmbollmann"><i class="fa fa-twitter"></i></a>
        <!-- <a href="https://www.linkedin.com/pub/marcel-bollmann/b8/238/267"><i class="fa fa-linkedin-square"></i></a> -->
      </span>
      &copy; 2018 Marcel Bollmann &mdash; <i class="fa fa-envelope-o"></i> marcel@di.k<span class="obfuscate">wallabies-are-awesome</span>u<span class="obfuscate">.@...___@.</span>.dk<br />
      <span class="legal-notice">
        <a href="{relocatable: /impressum.html}">Impressum / Legal disclosure</a>
      </span>
    </footer>
  </body>
</html>
